label #user, label #pass {
    display: block;
}

label {
    display: block;
}

form {
    margin: auto;
    width: max-content;
}

.nav-tabs, table#tableauEtudiant{
    margin: auto;
    margin-left: 10px;
    width: max-content;
}
input[name=signup]{
    display: block;
    margin-top: 3em;
}

.main-position{
    margin-bottom: 3em;
    
}

.main-image{
    background-image: url("images/cegep-campus-gabrielle-roy42.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.table-border{
    border-radius: 10px;
}

.nav-tabs{
    margin-left: 0;
}

.nav-tabs .nav-link{
    border-color: dimgrey;
}

.btn-dark:not(:disabled):not(.disabled).active{
    border-color: dimgrey;
}